
.bg-primary-color {
  background: #50dec8;
}

.bg-secondary-color {
  background: #50dec8;
}

.text-primary-color {
  color: #50dec8;
}

.text-primary-color2 {
  color: #50dec8;
}

.text-secondary-color {
  color: #50dec8;
}

.bg-gradient-color {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}

.bg-light-gradient-color {
  background: linear-gradient(200deg, #fffdfd, rgba(168, 122, 33, 0.15)) !important;
}

.bg-light-gradient-color-with-img {
  background: url(../images/bg/abs-bg3.png), linear-gradient(200deg, #fffdfd, rgba(168, 122, 33, 0.15)) !important;
}

.bg-light-gradient-color-with-img2 {
  background: url(../images/bg/abs-bg4.png), linear-gradient(45deg, #6eddcb, #50dec8) !important;
}

::-moz-selection {
  background: #50dec8;
}

::-webkit-scrollbar-thumb {
  background-color: #50dec8;
}

::selection {
  background: #50dec8;
}

.accordion .accordion-item .accordion-header.active .title {
  background: linear-gradient(-20deg, #6eddcb, #50dec8) !important;
}

.accordion .accordion-item .accordion-header.active span:before {
  color: #50dec8;
}

.accordion .accordion-item .accordion-header span {
  background: linear-gradient(-20deg, #6eddcb, #50dec8) !important;
}

/*========================================*/
/*--------------- [_Buttons] -------------*/
/*========================================*/
/*Btn Style One*/
.cs-btn-one {
  background-color: #50dec8;
}
.cs-btn-one:hover {
  background: #50dec8;
}

.cs-btn-one.btn-border {
  border: 2px solid #50dec8;
  color: #50dec8;
}
.cs-btn-one.btn-light {
  color: #50dec8;
}
.cs-btn-one.btn-hover-border:hover {
  border: 2px solid #50dec8;
}
.cs-btn-one.btn-secordary-color {
  background: #50dec8;
}
.cs-btn-one.btn-secordary-color:hover {
  background: #50dec8;
}
.cs-btn-one.btn-primary-color {
  background: #50dec8;
}
.cs-btn-one.btn-primary-color:hover {
  background: #50dec8;
}
.cs-btn-one.btn-gradient-color {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}
.cs-btn-one.btn-gradient-color:hover {
  background: linear-gradient(-20deg, #6eddcb, #50dec8) !important;
  -webkit-box-shadow: 4px 5px 10px 0px rgba(80, 222, 200, 0.6);
  -khtml-box-shadow: 4px 5px 10px 0px rgba(80, 222, 200, 0.6);
  -moz-box-shadow: 4px 5px 10px 0px rgba(80, 222, 200, 0.6);
  -ms-box-shadow: 4px 5px 10px 0px rgba(80, 222, 200, 0.6);
  -o-box-shadow: 4px 5px 10px 0px rgba(80, 222, 200, 0.6);
  box-shadow: 4px 5px 10px 0px rgba(80, 222, 200, 0.6);
}

.cs-btn-one.text-btn {
  color: #50dec8;
}

a {
  color: #049AD3;
}

a:hover {
  color: #50dec8;
  text-decoration: none;
}

.block-quote {
  border-left: 5px solid #50dec8;
}
.social-list li a:hover {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}
.social-list.list-primary-color li a {
  background: #50dec8;
}
.order-list.primary-color li:before {
  color: #50dec8;
}
.back-to-top {
  background-color: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}

@-webkit-keyframes red-shadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(80, 222, 200, 0.4);
    box-shadow: 0 0 0 0 rgba(80, 222, 200, 0.46);
  }

}
@keyframes red-shadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(80, 222, 200, 0.4);
    box-shadow: 0 0 0 0 rgba(80, 222, 200, 0.4);
  }
}
.text-under-line:before {
  background-color: #50dec8;
}

.video-popup a i::before {
  background: #50dec8;
}

.video-popup-left a {
  color: #50dec8;
}

.pulse-animation,
.pulse-animation:before,
.pulse-animation:after {
  -webkit-box-shadow: 0 0 0 0 rgba(80, 222, 200, 0.6);
  -khtml-box-shadow: 0 0 0 0 rgba(80, 222, 200, 0.6);
  -moz-box-shadow: 0 0 0 0 rgba(80, 222, 200, 0.6);
  -ms-box-shadow: 0 0 0 0 rgba(80, 222, 200, 0.6);
  -o-box-shadow: 0 0 0 0 rgba(80, 222, 200, 0.6);
  box-shadow: 0 0 0 0 rgba(80, 222, 200, 0.6);
}

/*Owl Carousel Nav Prev*/
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}
.mean-container a.meanmenu-reveal {
  border: 1px solid #50dec8;
  color: #50dec8;
}
.mean-container a.meanmenu-reveal span {
  background: #50dec8;
}

.pagination-nav .pagination-list > li:hover a {
  background: #50dec8;
}
.pagination-nav .pagination-list > li.active a {
  background: #50dec8;
}
.skills .skill-item .skill-header .skill-percentage {
  color: #50dec8;
}
.skills .skill-item .skill-bar .bar-inner .bar {
  background: linear-gradient(-20deg, #6eddcb, #50dec8) !important;
}
#scrollUp {
  background-color: #50dec8;
}
.header-style-one .header-wrapper .header-navigation-area .main-menu ul li:hover > a {
  color: #50dec8;
}

.header-style-one .header-wrapper .header-navigation-area .main-menu ul li ul.sub-menu li:hover > a {
  background-color: #50dec8;
}
.header-style-two .header-wrapper .header-middle .topbar-info-area i {
  color: #50dec8;
}
.header-style-two .header-wrapper .header-navigation-area .main-menu ul li:hover > a {
  color: #50dec8;
}

.header-style-two .header-wrapper .header-navigation-area .main-menu ul li ul.sub-menu li:hover > a {
  background: #50dec8;
}
.header-searchbox-style-one .show-searchbox a {
  background: #50dec8;
}
.header-searchbox-style-one .toggle-searchbox #searchform-all #s {
  color: #50dec8;
}
.header-searchbox-style-one .toggle-searchbox #searchform-all #searchsubmit {
  color: #50dec8;
}
.header-searchbox-style-one .toggle-searchbox.show {
  border: 1px solid #50dec8;
}
.header-searchbox-style-two .show-searchbox a i {
  color: #50dec8;
}
.header-searchbox-style-two .toggle-searchbox #searchform-all #s {
  color: #50dec8;
}
.header-searchbox-style-two .toggle-searchbox #searchform-all #searchsubmit {
  color: #50dec8;
}
.header-searchbox-style-two .toggle-searchbox.show {
  border: 1px solid #50dec8;
}
.input-box i {
  color: #50dec8;
}
.header-top-area .header-top-right-part .social-links li a:hover {
  color: #50dec8;
}
.header-top-area .header-top-right-part .language .language-btn:hover {
  color: #31314d;
}
.header-top-area .header-top-right-part .language .language-dropdown.open {
  background: #31314d;
}
.header-top-area .header-top-right-part .language .language-dropdown li {
  position: relative;
  background-color: #0a3041;
  z-index: -1;
}
.header-top-area .header-top-right-part .language .language-dropdown li a:hover {
  background: #50dec8;
}
.close-icon > button {
  background: #50dec8;
}
.bar1 {
  background: #50dec8;
}
.bar2 {
  background: #50dec8;
}
.bar3 {
  background: #50dec8;
}

.footer-main-area {
  background: #222935;
}

.footer-widget-list li a:hover {
  color: #50dec8;
}
.form-control {
  color: #50dec8;
}
.form-control:focus {
  border-color: #50dec8;
}
.contact-form .form-control:focus {
  border-color: #50dec8;
}

.request-a-call-back-form:after {
  border-color: #50dec8 transparent transparent #50dec8;
}
.request-a-call-back-form:before {
  border-color: #50dec8 #50dec8 transparent transparent;
}
.request-a-call-back-form .custom-select-categories {
  color: #50dec8;
}

.contact-icon i {
  background: #50dec8;
}
.widget-title:after {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}
.single-blog-widget-title {
  background: linear-gradient(-20deg, #6eddcb, #50dec8) !important;
}
.news-sidebar-widget .widget-search .search-form button {
  background-color: #50dec8;
}
.news-sidebar-widget .widget-categories ul li a:hover, .news-sidebar-widget .widget-archives ul li a:hover {
  color: #50dec8;
}
.news-sidebar-widget .widget-tags ul li a:hover {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}
.home-carousel .slide-item:before {
  background: -webkit-linear-gradient(-180deg, rgba(22, 3, 1, 0), #09334f 150%);
}

.section-title-left-part:before {
  background: #50dec8;
}

.section-title-left-part:after {
  color: #1677bf;
}
.shadow-text {
  color: #3751ca;
}

.title-under-line:before {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}

.line-both-side.gradient-color:before {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}

.line-both-side.gradient-color:after {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}

.sub-title-side-line:before {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}
.line-top-center:before {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}

.side-line:before {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}
.feature-content:after {
  background: #50dec8;
}

.feature-box .link a {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}
.service-link-list li a:after,
.service-link-list li.active a:after {
  background: #2a65c9;
}
.service-link-list li.active a {
  background: linear-gradient(-20deg, #6eddcb, #50dec8) !important;
}

.service-link-list li a:hover {
  background: linear-gradient(-20deg, #6eddcb, #50dec8) !important;
}

.service-section-title-area {
  background: #571bcd;

}

.service-features-icon span {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}

.project-section .project-filter ul li:hover, .project-section .project-filter ul li.active {
  background: #50dec8;
}

.project-item .project-overlay {
  background: #50dec8;
}
.project-item .link-single-page a {
  background: #50dec8;
}
.project-item .link-single-page a {
  background: #50dec8;
}
.project-info-list li span {
  color: #233d63;
}
.project-info-list li span i {
  color: #50dec8;

}
.funfact .icon span:before {
  color: #50dec8;
}
.funfact::before {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}
.funfact-normal .counter {
  color: #50dec8;
}
.funfact-normal .counter2 {
  color: #50dec8;
}
.icon-box-two .icon {
  background: #50dec8;
}
.news-wrapper .news-thumb .news-top-meta {
  background: #50dec8;
}
.news-wrapper .news-thumb .news-top-meta .admin {
  color: #50dec8;
}
.news-wrapper .news-thumb .news-top-meta .admin a {
  color: #50dec8;
}
.news-wrapper .news-thumb .news-top-meta .comment {
  background: #50dec8;
}
.news-wrapper .news-thumb:after {
  background: rgba(80, 222, 200, 0.6);
}
.news-wrapper .news-details .news-description .news-bottom-meta {
  border-left: 3px solid #50dec8;
}
.news-wrapper .news-details .news-link a {
  color: #50dec8;
}
.news-wrapper .news-details .news-link:hover {
  color: #50dec8;
}
.news-wrapper .news-details .news-link:before {
  background: #50dec8;
}

.news-wrapper .news-details .news-description .news-bottom-meta {

  border-left: 3px solid #50dec8;
}
.blog-single-news .single-news-details .single-news-content .entry-meta i {
  color: #50dec8;
}
.blog-single-news .single-news-details .single-news-content .entry-meta .admin {
  color: #50dec8;
}
.blog-single-news .single-news-details .single-news-content .single-news-tag-social-area .single-news-tags ul li a:hover {
  background-color: #50dec8;
}
.blog-single-news .single-news-details .single-news-content .single-news-tag-social-area .single-news-share .social-icons li a {
  color: #50dec8;
}
.blog-single-news .single-news-details .single-news-content .single-news-tag-social-area .single-news-share .social-icons li a:hover {
  color: #50dec8;
}
.blog-single-news .single-news-details .single-news-content .comments-area .comment-list .comment .comment-body .comment-content .reply .comment-reply-link {
  background: #50dec8;
}
.blog-single-news .single-news-details .single-news-content .comments-area .comment-list .comment .comment-body .comment-content .reply .comment-reply-link:hover {
  background: #50dec8;
}
.team-block .team-bottom-part .designation {
  color: #50dec8;
}
.team-block:after {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}
.team-block:before {
  background: linear-gradient(-20deg, #6eddcb, #50dec8) !important;
}
.team-block:hover {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}
.quote-icon:before {
  color: #50dec8;
}
.price-table .table-header .pricing-plan-name {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}
.price-table .table-header .price {
  color: #0B2239;
}

.case-study-item .case-study-thumb .case-study-link-icon a {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}

.case-study-item .case-study-thumb:after {
  background: linear-gradient(0deg, #11112e, transparent);
}

.service-icon span:before {
  color: #50dec8;
}
.service-box:before {
  background: rgba(80, 222, 200, 0.8);
}
.call-us-now {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}

[data-overlay-dark]:before {
  background: #131c34;
}

.solid-line-bottom:before {
  background: linear-gradient(45deg, #6eddcb, #50dec8) !important;
}

